.dropzone {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: aliceblue;
    right: 200px;
  }
  
  .dropzone-1 {
    top: 200px;
  }
  
  .dropzone-2 {
    top: 400px;
  }
  
  .dropzone-3 {
    top: 600px;
  }
  